body {
    background-color: #CADBB5;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #1C5216;
}

#principal {
    text-align: center;
    background-color: #60DB6C;
    color: white;
}

h2 {
    color: #45752C;
}

.basico {
    color: #45752C;
}

.intermediário {
    color: #71752c;
}

.avançado {
    color: #752c2c;
}