* {
    padding: 5px;
    margin: 5px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

menu {
    display: none;
}

h1, h2 {
    text-align: center;
}

article::after {
    content: 'Esse artigo foi impresso através do site www.cursoemvideo.com';
}